
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins",sans-serif;
}
:root{
    --red:#d01c85;
    --gray:#2e2e2e;
}
*{
    margin: 0;
}
button{
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}
.container{
    margin:0 auto;
    max-width: 1100px;
    
}


nav{
    display: flex;
    justify-content: space-between;
   
    height: 72px;
    align-items: center;
}
nav ul{
    
    display: flex;
    list-style: none;
    gap: 24px;
    
}
.Hero{
    display: flex;
    align-items: center;
    height: calc(100vh-72px);
}
.Herocontent{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Hero h1{
    font-size: 40px;
    word-spacing: 0%;
    padding: 0;
    font-weight: 800;
    gap: 0;
    line-height: 102px;
    color: black;
}
.Hero p{
    font-weight: 500;
    font-size: large;
    color: var(--gray);
    max-width: 450px;
}
.Hero-btn button{
    font-size: 20px;
}
.Hero-btn{
    display: flex;
    gap: 40px;
}
.sec-btn{
    background: transparent;
    color: var(--gray);
    border: 1px solid gray;
}
.Shop p{
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 8px;
    font-size: 14px;

}
.Img{
    display: flex;
    gap: 16px;
}
@media (max-width: 768px) {
    .element {
      width: 100%; /* Make it full width on smaller screens */
    }
  }
  